.form {
  padding: 70px 0;
  background: url('../img/form_bg.png') center center/cover no-repeat;
}

.form__container {
  min-height: 481px;
}

.form__title {
  padding-right: 23px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}

.form__fieldset {
  border: none;
  padding: 0;
}

.form__legend {
  margin-bottom: 49px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.form__input {
  display: block;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-left: 26px;
  width: 425px;
  height: 46px;
  background: transparent;
  border: 1.38235px solid #FFFFFF;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  line-height: 26px;
}

.form__input:last-child {
  margin-bottom: 49px;
}

.form__btn {
  padding: 0 0 1px 2px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 218px;
  height: 48px;
  background-color: #15A9CB;
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.form__agree {
  padding-left: 2px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.form__agree-link {
  color: #4A76A8;
  border-bottom: 1px solid;
}

@media (max-width: 1024px) {
  .form {
    padding: 70px 0 56px;
    background: url('../img/form_bg_1024.png') center center/cover no-repeat;
  }

  .form__container {
    min-height: 432px;
  }

  .form__title {
    margin-bottom: 16px;
    padding-right: 9px;
    font-size: 32px;
    line-height: 38px;
    min-height: 37px;
  }
  
  .form__legend {
    padding-left: 16px;
    font-size: 20px;
    line-height: 23px;
  }
  
  .form__input {
    margin-bottom: 20px;
    padding-left: 23px;
    width: 377px;
    height: 39px;
    font-size: 20px;
    line-height: 23px;
  }

  .form__input:last-child {
    margin-bottom: 50px;
  }
  
  .form__btn {
    margin-bottom: 30px;
  }
  
  .form__agree {
    padding-left: 0;
    padding-right: 1px;
    font-size: 17px;
    line-height: 20px;
    height: 21px;
  }
}

@media (max-width: 480px) {
  .form__input {
    width: 260px;
  }
}

@media (max-width: 320px) {
  .form {
    padding: 30px 0;
    background: url('../img/form_bg_320.png') center center/cover no-repeat;
  }
  
  .form__container {
    min-height: 338px;
  }
  
  .form__title {
    margin-bottom: 10px;
    padding-right: 2px;
    font-size: 20px;
    line-height: 23px;
    min-height: 26px;
  }
  
  .form__legend {
    padding-left: 0;
    margin-bottom: 36px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .form__input {
    margin-bottom: 15px;
    padding-left: 16px;
    width: 290px;
    height: 28px;
    font-size: 14px;
    line-height: 16px;
  }
  
  .form__input:last-child {
    margin-bottom: 45px;
  }
  
  .form__btn {
    padding: 4px 2px 0 0;
    width: 174px;
    height: 38px;
    font-size: 16px;
    line-height: 19px;
  }
  
  .form__agree {
    font-size: 11px;
    line-height: 13px;
  }
}